---
layout: default
---
<article class="post about">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
    <div class="flex-container">
      <div class="post-content">
        {{ content }}
      </div>
      <div>
        <img src="{{ site.github.url }}/img/me3.png">
      </div>
  </div>

  <div class="center">
    <p>If you are interested in contacting me, you can do so via <a href="mailto:connor.botts@gmail.com">email</a>!</p>
    <p>Thanks to <a href="https://twitter.com/nathanwentworth">@nathanwentworth</a> for creating this website!</p>
  </div>
</article>
