---
layout: default
---

<div class="home">

  {{ content }}

  <h2 class="page-heading">Featured</h2>

  <ul class="post-list">
    {% for post in site.tags.featured %}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}"><img src="{{ site.github.url }}{{ post.image }}"></a>
      </li>
    {% endfor %}
  </ul>

  <h2 class="page-heading">Games</h2>

  <ul class="post-list">
    {% for post in site.categories.game %}
      {% if post.tags contains "featured" %}
        {% continue %}
      {% endif %}
      <li class="half-width">
          <a class="post-link" href="{{ post.url | relative_url }}"><img src="{{ site.github.url }}{{ post.image }}"></a>
      </li>
    {% endfor %}
      <li class="half-width">
        <a class="post-link" href="https://theconbot.itch.io/"><img src="{{ site.github.url }}/img/more.png"></a>
      </li>
  </ul>

  <h2 class="page-heading">Tools</h2>
  <ul class="post-list">
    {% for post in site.categories.tool %}
      {% if post.tags contains "featured" %}
        {% continue %}
      {% endif %}
      <li class="half-width">
          <a class="post-link" href="{{ post.url | relative_url }}"><img src="{{ site.github.url }}{{ post.image }}"></a>
      </li>
    {% endfor %}
  </ul>
</div>
